body {
  background: #03071E;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container, .navbar {
  background: #fff;
  padding: 20px;

}

.navbar {
  align-items: center;
  background-color: #370617;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.button-main {
  background-color: #9D0208;
}

.button-yellow {
  background-color: #ffba08;
  color: #000;
}

